################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanExchange.Network/bin/Debug
/LanExchange.Network/obj/Debug
*.suo
